<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="refresh" content="">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="../assets/css/login.css">
</head>

<body>

  <!-- Logo -->
  <div class="logo-section">
    <img src="../assets/images/logo.png" alt="Logo" class="logo">
  </div>
  
  <!-- Slogan -->
  <h1 class="slogan">PHẦN MỀM QUẢN LÝ TIỆM THUỐC TÂY TÍCH HỢP AI TỰ ĐỘNG CẢNH BÁO HÀNG TỒN</h1>
  
  <div class="wrapper">
    <!-- Login Form -->
    <div class="form-container">
      <h2>Đăng nhập</h2>
      <form>
        <input type="tel" placeholder="Số điện thoại" required />
        <input type="password" placeholder="Mật khẩu" required />
        <button type="submit" class="submit-btn">Đăng nhập</button>
      </form>
    </div>
  </div>


</body>

</html>